<div class="box py-2 card-columns">
{{#messages}}
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{message}}</p>
            <p class="card-text"> {{#str}} postedby, local_greetings, {{firstname}} {{/str}}</p>
            <p class="card-text">
                <small class="text-muted">
                    {{#userdate}} {{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}} {{/userdate}}
                </small>
            </p>
            {{#candelete}}
            <p class="card-footer text center">
            <!-- Link to delete the message 
            No se recomienda usar el enlace de eliminar directamente en la plantilla,
            No usar el sseskey directamente en la plantilla por seguridad.
            Se visualiza en el navegador y puede ser modificado por el usuario.
            -->
                <a href="{{config.wwwroot}}/local/greetings/index.php?action=del&id={{id}}&sesskey={{config.sesskey}}">
                    {{#pix}} t/delete {{/pix}}{{#str}} delete {{/str}}
                </a>
            </p>
            {{/candelete}}
        </div>
    </div>
{{/messages}}
</div>